git+https://github.com/Pycord-Development/pycord
pynacl
opencv-python
numpy
Pillow
gspread
oauth2client
tesseract-ocr
pyocr
tesseract-ocr
git+https://github.com/tesseract-ocr/tessdata_best/blob/main/jpn.traineddata
git+https://github.com/tesseract-ocr/tessdata_best/blob/main/jpn_vert.traineddata
